@use 'sass:map';
@import 'base.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-block-size: 100vh;

  &__header {
    align-items: center;
    background-color: map.get($colours, mine-shaft);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 1.5rem;

    @include mq(medium) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 2.4rem;
    margin-block-start: 1.5rem;

    @include mq(medium) {
      margin-block-start: 0;
    }
  }

  &__logo-link {
    display: block;
    inline-size: min(40rem, 100%);

    @include mq(medium) {
      inline-size: 30rem;
    }
  }

  &__logo-graphic {
    aspect-ratio: 22 / 3;
    display: block;
    filter: drop-shadow(0.1rem 0.1rem 0.2rem map.get($colours, white));
    height: auto;
    inline-size: 100%;
  }

  &__content {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
  }
}
