@import 'colours.scss';
@import 'typography.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  @extend %font-content;

  background-color: map-get($colours, black);
  color: map-get($colours, white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-headline;

  margin: 0;
}
