@use 'sass:map';
@use 'sass:math';
@import 'colours.scss';
@import 'media.scss';
@import 'typography.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  font-size: math.percentage(math.div(10, 16));
  overflow-y: scroll;
}

body {
  @extend %font-content;

  background-color: map.get($colours, black);
  color: map.get($colours, white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-headline;

  margin: 0;
}
