@import 'Components/app/stylesheets/colours.scss';
@import 'Components/app/stylesheets/media.scss';

$characterNamespace: 'character';

.character-selection {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  &__title {
    font-size: 2.6rem;
    line-height: (32 / 26);
    margin-bottom: 2rem;
    text-align: center;
  }

  &__grid {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    @include mq(large) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__grid-element {
    &:not(:last-child) {
      margin: 0 0 2rem 0;

      @include mq(large) {
        margin: 0 2rem 0 0;
      }
    }
  }
}

.#{$characterNamespace} {
  border: 0.1rem solid map-get($colours, tundora);
  border-radius: 3%;
  max-width: 45rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:hover {
    .#{$characterNamespace}__overlay {
      transform: translateY(0);

      &::before {
        flex-grow: 1;
      }
    }
  }

  &__portrait-wrapper {
    height: 0;
    padding-bottom: percentage(901 / 771);
    position: relative;
    width: 100%;
  }

  &__portrait {
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.88);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    overflow: hidden;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(calc(100% - 6rem));
    transition: transform 300ms ease-in;

    &::before,
    &::after {
      content: '';
      display: block;
      flex: 1 1 auto;
    }

    &::before {
      flex-grow: 0;
      transition: flex 300ms ease-in;
      will-change: flex;
    }
  }

  &__name {
    font-size: 2.6rem;
    line-height: (30 / 26);
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.8rem;
    line-height: (22 / 18);
    margin: 0 0 2rem 0;
  }
}
