# Ignore all files by default.
*

# White list only the required files and folders.
!html/
!manifests/
!server/
!src/
!support/
!webpack/
!.babelrc
!.browserslistrc
!.eslintrc.json
!.postcssrc.json
!.prettierrc.json
!.releaserc.json
!.stylelintrc.json
!jest.config.ts
!nodemon.json
!package.json
!tsconfig.json
!yarn.lock
