# Ignore all files by default.
*

# White list only the required files and folders.
!html/
!images/
!manifests/
!scripts/
!server/
!src/
!support/
!webpack/
!.babelrc
!.browserslistrc
!.eslintrc.json
!.prettierrc.json
!.stylelintrc.json
!jest.config.js
!package.json
!postcss.config.js
!yarn.lock
