.outsiders-mark {
  $image-height: 480px;
  $image-width: 488px;

  &::before {
    background: url('~imagesRoot/outsiders-mark.svg') no-repeat 0 0;
    background-size: cover;
    content: '';
    display: block;
    height: 0;
    padding-bottom: percentage($image-height / $image-width);
    width: 100%;
    will-change: transform, opacity;
  }

  &--is-animating::before {
    animation: 1750ms loader-pulsing-fading ease-in-out infinite;
  }
}

@keyframes loader-pulsing-fading {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 0.6;
    transform: scale(1);
  }
}
