.outsiders-mark {
  aspect-ratio: 1 / 1;
  background: url('../images/outsiders-mark.svg') no-repeat 0 0;
  background-size: cover;
  display: block;
  will-change: transform, opacity;

  &--is-animating {
    animation: 1750ms loader-pulsing-fading ease-in-out infinite;
  }
}

@keyframes loader-pulsing-fading {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 0.6;
    transform: scale(1);
  }
}
