.app-loader {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  justify-content: center;
  text-align: center;

  &__message {
    font-size: 2rem;
    margin-top: 2.5rem;
  }

  &__icon {
    margin: 0 auto;
    max-width: 13rem;
    width: 50%;
  }
}
