.app-loader {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  justify-content: center;
  text-align: center;

  &__message {
    font-size: 2rem;
    margin-block-start: 2.5rem;
  }

  &__icon {
    width: min(13rem, 50%);
  }
}
