@use 'sass:map';
@import '@/components/app/stylesheets/colours.scss';

.power-selection {
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin-inline: auto;
  padding: 2rem;
  width: min(92rem, 100%);

  &__header {
    align-items: center;
    border-block-end: 0.1rem solid map.get($colours, tundora);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-block-end: 2rem;
  }

  &__title {
    font-size: 2.6rem;
    line-height: calc(32 / 26);
  }

  &__avatar {
    border: 0.1rem solid #4A4A4A;
    border-radius: 3%;
    margin-inline-end: 1rem;
    max-width: 5rem;
  }

  &__categories {
    margin-block: 2rem;
  }

  &__category:not(:last-of-type) {
    border-block-end: 0.1rem solid map.get($colours, tundora);
    margin-block-end: 2rem;
    padding-block-end: 2rem;
  }

  &__footer {
    align-items: center;
    border-block-start: 0.1rem solid map.get($colours, tundora);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block-start: 2rem;
  }

  &__back-cta {
    max-width: 40rem;
  }
}
