@import 'colours.scss';
@import 'typography.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: map-get($colours, black);
  font-family: $contentFamily;
  color: map-get($colours, white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headlineFamily;
  margin: 0;
}
