.avatar {
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: percentage(901 / 771);
  }

  &__portrait {
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
