.app-loader__container {
  $image-height: 480px;
  $image-width: 488px;

  text-align: center;

  &::before {
    background: url('~imagesRoot/outsiders-mark.svg') no-repeat 0 0;
    content: '';
    display: block;
    height: 0;
    padding-bottom: percentage($image-height / $image-width);
    width: 100%;
    will-change: transform, opacity;
  }

  &--is-loading {
    &::before {
      animation: 1750ms loader-pulsing-fading ease-in-out infinite;
    }
  }
}

@keyframes loader-pulsing-fading {
  0% {
    opacity: 0.60;
    transform: scale(1.0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 0.60;
    transform: scale(1.0);
  }
}
