<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Determine the perfect build for your Dishonored 2 character before spending runes." />
    <title>Dishonored 2: Power Calculator</title>
    <link rel="icon" type="image/png" href="<%= require('../src/images/favicons/16x16.png') %>" sizes="16x16" />
    <link rel="icon" type="image/png" href="<%= require('../src/images/favicons/32x32.png') %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= require('../src/images/favicons/96x96.png') %>" sizes="96x96" />
    <link rel="icon" type="image/png" href="<%= require('../src/images/favicons/192x192.png') %>" sizes="192x192" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Carrois+Gothic&display=swap" />
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div id="application"></div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
