{
  "presets" : [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "uglify": true
      },
      "modules": false,
      "debug": false
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
