{
  "presets" : [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "not Android <= 4.4.3"
        ]
      },
      "modules": false,
      "debug": true
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-runtime",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
